body, wrapper {
  background-color: #FFF !important;
  min-height:100vh;
}

.d-unavailable {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

[data-required] label:after {content: ' *'}

* {
  border-radius: 0px;
}