<template name="genericList">
    {{#if insertForm}}
        <div class="card-body d-flex justify-content-between">
            <h4>{{i18n config.label}} - {{i18n "actions.insertDoc"}}</h4>
            <span>
                {{#if actionPreview}}
                    <button class="btn btn-sm btn-outline-secondary preview-formDoc-button">
                        {{> icon name="eye" fw=true}}
                    </button>
                {{/if}}
                <button class="btn btn-sm btn-outline-secondary show-source-button">
                    {{> icon name="code" fw=true}}
                </button>
				<button class="btn btn-sm btn-outline-secondary cancel-form-button">
                    {{> icon name="times" fw=true}}
                </button>
			</span>
        </div>

        <div class="card-body {{#if submitting}}d-unavailable{{/if}}">
            {{#autoForm id="insertForm" type="normal" schema=insertSchema}}
                {{#each afFieldNames}}
                    {{> afQuickField name=this.name label=(i18n this.label) options=afOptionsFromSchema}}
                {{/each}}
                <div class="d-flex justify-content-between">
                    <span>
                        <button class="btn btn-success" type="submit">{{i18n
                                "actions.create"}}</button>
                        <button class="btn btn-outline-success submit-insert-close-btn"
                                type="button">{{i18n
                                "actions.createAndClose"}}</button>
                    </span>
                    <button class="btn btn-outline-secondary cancel-form-button">{{i18n
                            "actions.cancel"}}</button>
                </div>
            {{/autoForm}}
            {{#if submitting}}
                <span>{{> icon name="spinner" fw=true pulse=true}}</span>
                <span>{{i18n "actions.submitting"}}</span>
            {{/if}}
        </div>
    {{else if updateForm}}
        <div class="card-body d-flex justify-content-between">
            <h4>{{i18n config.label}} - {{i18n "actions.updateDoc"}}</h4>
            <span>
                {{#if actionPreview}}
                    <button class="btn btn-sm btn-outline-secondary preview-formDoc-button">
                        {{> icon name="eye" fw=true}}
                    </button>
                {{/if}}
                <button class="btn btn-sm btn-outline-secondary show-source-button">
                    {{> icon name="code" fw=true}}
                </button>
				<button class="btn btn-sm btn-outline-secondary cancel-form-button">
                    {{> icon name="times" fw=true}}
                </button>
			</span>
        </div>

        <div class="card-body {{#if submitting}}d-unavailable{{/if}}">
            {{#autoForm id="updateForm" type="normal" schema=updateSchema
                        doc=updateDoc validate="none"}}
                {{#each afFieldNames}}
                    {{> afQuickField name=this.name label=(i18n this.label) options=afOptionsFromSchema}}
                {{/each}}
                <div class="d-flex justify-content-between">
                    <span>
                        <button class="btn btn-secondary" type="submit">{{i18n
                                "actions.update"}}</button>
                        <button class="btn btn-outline-secondary submit-update-close-btn"
                                type="button">{{i18n
                                "actions.updateAndClose"}}</button>
                    </span>
                    <button class="btn btn-outline-secondary cancel-form-button">{{i18n
                            "actions.cancel"}}</button>
                </div>
            {{/autoForm}}
            {{#if submitting}}
                <span>{{> icon name="spinner" fw=true pulse=true}}</span>
                <span>{{i18n "actions.submitting"}}</span>
            {{/if}}
        </div>
    {{else}}
        <div class="card-body d-flex justify-content-between">
            <span class="no-wrap">
                <h4>{{i18n config.label}}</h4>
                {{#if config.info}}
                    <div>
                        <small>
                            {{> icon name="info" fw=true}}
                            <span>{{i18n config.info}}</span>
                        </small>
                    </div>
                {{/if}}
                <div>
                    <small>
                        {{> icon name="file" fw=true}}
                        <span>{{count}} {{i18n "common.documents"}}</span>
                    </small>
                </div>
            </span>

            {{! top-right action buttons }}

            <span class="no-wrap form-row alert-items-center">
                 {{! search input }}

                {{#if showSearch}}
                    <div class="col-7">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                      id="basic-addon1">
                                    {{> icon name="search" fw=true}}
                                </span>
                            </div>
                            <input type="text"
                                   class="list-search-input form-control {{#if
                                           searchFailed}}is-invalid{{/if}}"
                                   placeholder={{i18n
                                           "search.placeholder"}} aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-{{#if
                                        searchFailed}}danger{{else}}secondary{{/if}} close-search-button"
                                        type="button" id="button-addon2">
                                    {{> icon name="times" fw=true}}
                                </button>
                            </div>
                            </div>
                        {{#if searchFailed}}
                            <small class="text-danger">{{i18n
                                    "search.failed"}}</small>
                        {{/if}}
                    </div>
                {{/if}}

                <div class="col-auto">
                    {{#unless showSearch}}
                        <button class="btn btn-outline-secondary search-button">
                            {{> icon name="search" fw=true}}
                        </button>
                    {{/unless}}
                    <a href="{{route "settings" app config.name}}"
                       class="btn btn-outline-secondary"
                       title="{{i18n "actions.settings"}}">
                        {{> icon name="cog" fw=true}}
                    </a>
                    {{#with actionUpload}}
                        {{> upload filesCollection=uploadFilesCollection accept=this.accept class="ml-auto"}}
                    {{/with}}
                    {{#with actionInsert}}
                        <button class="btn btn-success insert-button">
                            {{> icon name="plus" fw=true}}
                            <span>{{i18n "actions.create"}}</span>
                        </button>
                    {{/with}}
                </div>
            </span>
        </div>

        {{#with validationErrors}}
            <div class="alert alert-warning d-flex justify-content-between">
                <span>{{i18n "errors.validation.title"}} / {{i18n "pages.list.validationErrors" length=this.length}}</span>
                <span>
                    <button class="btn btn-warning filter-validation-errors">
                        {{#unless filterErrors}}
                            {{i18n "actions.filter"}}
                        {{else}}
                            {{i18n "actions.reset"}}
                        {{/unless}}
                    </button>
                </span>
            </div>

            {{! list validation errors modal}}

        {{/with}}

        {{#unless loadComplete}}
            <div class="card-body">
                <div class="alert alert-info">
                    {{> loading title=(i18n "common.loadDocs")}}
                </div>
            </div>

        {{else}}


        {{! pagination }}
            <div class="d-block w-100 text-center">
                {{#each page in pages}}
                    {{#if isCurrentPage @index}}
                        <button class="btn btn-sm btn-secondary">
                            {{page}}
                        </button>
                    {{else}}
                        <button class="btn btn-sm btn-outline-secondary set-page-button border-0"
                                data-target={{@index}}>
                            {{page}}
                        </button>
                    {{/if}}
                {{/each}}
            </div>


            {{! documents table }}

            <div class="card-body bg-white mt-1 table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        {{#each label in fieldLabels}}
                            <th {{cellAtts label.key true}} scope="col">
                                {{! label could be disabled from being displayed }}
                                {{#if label.value}}
                                    {{i18n label.value}}
                                {{/if}}
                            </th>
                        {{/each}}
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each row in list}}
                        <tr>
                            <th {{row.trAtts}} scope="row">{{getIndex
                                    @index}}</th>

                            {{!-- resolve fields by given type def --}}

                            {{#each field in row.fields}}

                                {{#if field.isCollection}}
                                {{! isCollection --> resolve document}}
                                    <td>
                                        <a href
                                           class="linked-document-preview-button"
                                           data-target="{{field.doc.value}}"
                                           data-context="{{field.context}}">
                                            {{field.doc.label}}
                                        </a>
                                    </td>
                                {{else if field.isType}}
                                    <td class="text-center">
                                        <span class="p-1 text-{{field.type}}"
                                              title="{{i18n field.label}}">
                                            {{> icon fw=true name=field.icon}}
                                        </span>
                                    </td>
                                {{else if field.isBoolean}}
                                    <td class="text-center">
                                        <span class="p-1"
                                              title="{{i18n field.label}}">
                                            {{#if field.value}}
                                                {{> icon fw=true name="square-full"}}
                                            {{/if}}
                                        </span>
                                    </td>
                                {{else if field.isDate}}
                                    <td class="no-wrap text-monospace">
                                        {{toDate field.value}}
                                    </td>
                                {{else}}
                                {{! simple values }}
                                    <td>
                                        {{field.value}}
                                    </td>
                                {{/if}}
                            {{/each}}
                            <td class="text-right no-wrap">
                                {{#if actionPreview}}
                                    <button class="btn btn-sm btn-outline-secondary border-0 current-document-preview-button"
                                            data-target="{{row.document._id}}">
                                        {{> icon name="eye" fw=true}}
                                    </button>
                                {{/if}}
                                {{#if actionUpdate}}
                                    <button class="btn btn-sm btn-outline-primary border-0 edit-button"
                                            data-target="{{row.document._id}}">
                                        {{> icon name="edit" fw=true}}
                                    </button>
                                {{/if}}
                                {{#if actionRemove}}
                                    {{#unless removing row.document._id}}
                                        <button class="btn btn-sm btn-outline-danger border-0 remove-button"
                                                data-target="{{row.document._id}}">
                                            {{> icon name="trash" fw=true}}
                                        </button>
                                    {{else}}
                                        <button class="btn btn-sm btn-outline-danger border-0 disabled"
                                                disabled>
                                            {{> icon name="refresh" spinner=true fw=true}}
                                        </button>
                                    {{/unless}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

            {{! pagination }}
            <div class="d-block w-100 text-center">
                {{#each page in pages}}
                    {{#if isCurrentPage @index}}
                        <button class="btn btn-sm btn-secondary">
                            {{page}}
                        </button>
                    {{else}}
                        <button class="btn btn-sm btn-outline-secondary set-page-button border-0"
                                data-target={{@index}}>
                            {{page}}
                        </button>
                    {{/if}}
                {{/each}}
            </div>
        {{/unless}}
    {{/if}}
    {{#with previewTarget}}
        {{> preview this}}
    {{/with}}
</template>