<template name="genericList">

    {{#if insertForm}}
        <div class="card-body d-flex justify-content-between">
            <h4>{{i18n config.label}} - {{i18n "actions.insertDoc"}}</h4>
            <span>
                {{#if actionPreview}}
                    <button class="btn btn-sm btn-outline-secondary preview-formDoc-button">
                        <i class="fa fas fa-fw fa-eye"></i>
                    </button>
                {{/if}}
                <button class="btn btn-sm btn-outline-secondary show-source-button">
					<i class="fa fa-fw fas fa-code"></i>
				</button>
				<button class="btn btn-sm btn-outline-secondary cancel-form-button">
					<i class="fa fa-fw fas fa-times"></i>
				</button>
			</span>
        </div>

        <div class="card-body {{#if submitting}}d-unavailable{{/if}}">
            {{#autoForm id="insertForm" type="normal" schema=insertSchema}}
                {{#each afFieldNames}}
                    {{> afQuickField name=this.name label=(i18n this.label) options=afOptionsFromSchema}}
                {{/each}}
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success" type="submit">{{i18n
                            "actions.create"}}</button>
                    <button class="btn btn-outline-secondary cancel-form-button">{{i18n
                            "actions.cancel"}}</button>
                </div>
            {{/autoForm}}
            {{#if submitting}}
                <span><i class="fa fas fa-fw fa-spinner fa-pulse"></i></span>
                <span>{{i18n "actions.submitting"}}</span>
            {{/if}}
        </div>
    {{else if updateForm}}
        <div class="card-body d-flex justify-content-between">
            <h4>{{i18n config.label}} - {{i18n "actions.updateDoc"}}</h4>
            <span>
                {{#if actionPreview}}
                    <button class="btn btn-sm btn-outline-secondary preview-formDoc-button">
                        <i class="fa fas fa-fw fa-eye"></i>
                    </button>
                {{/if}}
                <button class="btn btn-sm btn-outline-secondary show-source-button">
					<i class="fa fa-fw fas fa-code"></i>
				</button>
				<button class="btn btn-sm btn-outline-secondary cancel-form-button">
					<i class="fa fa-fw fas fa-times"></i>
				</button>
			</span>
        </div>

        <div class="card-body {{#if submitting}}d-unavailable{{/if}}">
            {{#autoForm id="updateForm" type="normal" schema=updateSchema
                        doc=updateDoc validate="none"}}
                {{#each afFieldNames}}
                    {{> afQuickField name=this.name label=(i18n this.label) options=afOptionsFromSchema}}
                {{/each}}
                <div class="d-flex justify-content-between">
                    <button class="btn btn-secondary" type="submit">{{i18n
                            "actions.update"}}</button>
                    <button class="btn btn-outline-secondary cancel-form-button">{{i18n
                            "actions.cancel"}}</button>
                </div>
            {{/autoForm}}
            {{#if submitting}}
                <span><i class="fa fas fa-fw fa-spinner fa-pulse"></i></span>
                <span>{{i18n "actions.submitting"}}</span>
            {{/if}}
        </div>
    {{else}}
        <div class="card-body d-flex justify-content-between">
            <span class="no-wrap">
                <h4>{{i18n config.label}}</h4>
                <small>
                    <i class="fa fa-fw fa-file"></i>
                    <span>{{count}} {{i18n "common.documents"}}</span>
                </small>
            </span>

            {{! top-right action buttons }}

            <span class="no-wrap form-row alert-items-center">
                 {{! search input }}

                {{#if showSearch}}
                    <div class="col-7">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                      id="basic-addon1">
                                     <i class="fas fa fa-fw fa-search"></i>
                                </span>
                            </div>
                            <input type="text"
                                   class="list-search-input form-control {{#if
                                           searchFailed}}is-invalid{{/if}}"
                                   placeholder={{i18n
                                           "search.placeholder"}} aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-{{#if
                                        searchFailed}}danger{{else}}secondary{{/if}} close-search-button"
                                        type="button" id="button-addon2">
                                    <i class="fa fas fa-fw fa-times"></i>
                                </button>
                            </div>
                            </div>
                        {{#if searchFailed}}
                            <small class="text-danger">{{i18n "search.failed"}}</small>
                        {{/if}}
                    </div>
                {{/if}}

                <div class="col-auto">
                    {{#unless showSearch}}
                        <button class="btn btn-outline-secondary search-button">
                            <i class="fas fa fa-fw fa-search"></i>
                        </button>
                    {{/unless}}
                    <a href="{{route "settings" app config.name}}"
                       class="btn btn-outline-secondary"
                       title="{{i18n "actions.settings"}}">
                        <i class="fas fa fa-fw fa-cog"></i>
                    </a>
                    {{#with actionUpload}}
                        {{> upload filesCollection=uploadFilesCollection accept=this.accept class="ml-auto"}}
                    {{/with}}
                    {{#with actionInsert}}
                        <button class="btn btn-success insert-button">
                            <i class="fas fa fa-fw fa-plus"></i>
                            <span>{{i18n "actions.create"}}</span>
                        </button>
                    {{/with}}
                </div>
            </span>
        </div>

        {{#unless loadComplete}}
            <div class="card-body">
                <div class="alert alert-info">
                    {{> loading title=(i18n "common.loadDocs")}}
                </div>
            </div>
        {{/unless}}

        {{#with documents}}




        {{! documents table }}

            <div class="card-body bg-white mt-1">
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        {{#each label in fieldLabels}}
                            <th {{cellAtts label.key true}}>
                                {{! label could be disabled from being displayed }}
                                {{#if label.value}}
                                    {{i18n label.value}}
                                {{/if}}
                            </th>
                        {{/each}}
                        <th></th>
                    </tr>
                    {{#each document in this}}
                        <tr>
                            <td {{trAtts document._id}}>{{@index}}</td>

                            {{!-- resolve fields by given type def --}}

                            {{#each field in (fields document)}}

                                {{#if field.isCollection}}
                                {{! isCollection --> resolve document}}
                                    <td>
                                        <a href
                                           class="linked-document-preview-button"
                                           data-target="{{field.doc.value}}"
                                           data-context="{{field.context}}">
                                            {{field.doc.label}}
                                        </a>
                                    </td>
                                {{else if field.isType}}
                                    <td class="text-center">
                                        <span class="p-1"
                                              title="{{i18n field.label}}">
                                            <i class="fa fas fa-fw fa-{{field.icon}} text-{{field.type}}"></i>
                                        </span>
                                    </td>
                                {{else if (isBoolean field)}}
                                    <td class="text-center">
                                        <span class="p-1"
                                              title="{{i18n field.label}}">
                                            {{#if field.value}}
                                                <i class="fa fas fa-fw fa-toggle-on"></i>
                                            {{else}}
                                                <i class="fa fas fa-fw fa-toggle-off text-muted"></i>
                                            {{/if}}
                                        </span>
                                    </td>
                                {{else}}
                                {{! simple values }}
                                    <td>
                                        {{field.value}}
                                    </td>
                                {{/if}}
                            {{/each}}
                            <td class="text-right no-wrap">
                                {{#if actionPreview}}
                                    <button class="btn btn-sm btn-outline-secondary border-0 current-document-preview-button"
                                            data-target="{{document._id}}">
                                        <i class="fa fas fa-fw fa-eye"></i>
                                    </button>
                                {{/if}}
                                {{#if actionUpdate}}
                                    <button class="btn btn-sm btn-outline-primary border-0 edit-button"
                                            data-target="{{document._id}}">
                                        <i class="fa fas fa-fw fa-edit"></i>
                                    </button>
                                {{/if}}
                                {{#if actionRemove}}
                                    {{#unless removing document._id}}
                                        <button class="btn btn-sm btn-outline-danger border-0 remove-button"
                                                data-target="{{document._id}}">
                                            <i class="fa fas fa-fw fa-trash"></i>
                                        </button>
                                    {{else}}
                                        <button class="btn btn-sm btn-outline-danger border-0 disabled"
                                                disabled>
                                            <i class="fa fas fa-fw fa-refresh fa-spinner"></i>
                                        </button>
                                    {{/unless}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        {{else}}
            <div class="card-body">
                <div class="jumbotron">
                    <p>{{i18n "common.noDocuments"}}</p>
                </div>
            </div>
        {{/with}}
    {{/if}}
    {{#with previewTarget}}
        {{> preview this}}
    {{/with}}
</template>