<template name="upload">
	<span class="upload {{class}}">
		{{#if uploadForm}}
				<input type="file" id="list-file-upload" accept="{{accept}}">
				<button class="btn btn-success upload-button" type="button">
					<i class="fa fa-fw fa-upload"></i>
				</button>
		{{/if}}
		{{#with currentUpload}}
			<div class="progress">
  				<div class="progress-bar progress-bar-striped progress-bar-animated text-center"
					 role="progressbar" aria-valuenow="100"
					 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				</div>
			</div>
		{{/with}}
		{{#with uploadError}}
			<div class="alert alert-success">
				<span>{{i18n "upload.failed"}}</span>
				<button class="btn btn-danger btn-sm reset-button">
					{{i18n "common.ok"}}
				</button>
			</div>
		{{/with}}
		{{#with uploadedFile}}
			<div class="alert alert-success">
				<span>{{i18n "upload.successful"}}</span>
				<button class="btn btn-success btn-sm reset-button">
					{{i18n "common.ok"}}
				</button>
			</div>
		{{/with}}
		</span>
</template>