<template name="navSide">
	<nav class="col-md-2 d-none d-md-block bg-light sidebar">
		<div class="sidebar-sticky">
			<ul id="main-sidebar" class="nav nav-pills flex-column mt-4">
				{{#each route in topLevelRoutes}}
					{{#with route.children}}
						<li class="nav-item">
							<a class="nav-link no-wrap" href="#child{{@index}}" id="navbarDropdown" role="button" data-parent="#main-sidebar"
							   data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
								<i class="fa fas fa-fw fa-{{route.icon}}"></i>
								{{i18n route.label}}
								<i class="fa fas fa-fw fa-caret-down"></i>
							</a>
							<div id="child{{@index}}" class="collapse" aria-labelledby="navbarDropdown">
								<ul class="nav flex-column ml-3">
								{{#each childRoute in this}}
									<li class="nav-item">
										<a class="nav-link no-wrap {{#if activeRoute childRoute.path}}active{{/if}}"
										   href="{{childRoute.path}}">
											{{#if childRoute.icon}}
												<i class="fa fas fa-fw fa-{{childRoute.icon}}"></i>
											{{/if}}
											{{i18n childRoute.label}}
										</a>
									</li>
								{{/each}}
								</ul>
							</div>
						</li>
					{{else}}

						<li class="nav-item">
							<a class="nav-link no-wrap" href="{{route.path}}">
								<i class="fa fas fa-fw fa-{{route.icon}}"></i>
								{{i18n route.label}}
							</a>
						</li>
					{{/with}}
				{{/each}}
			</ul>
			{{!--
			<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span>Saved reports</span>
				<a class="d-flex align-items-center text-muted" href="#">
					<span data-feather="plus-circle"></span>
				</a>
			</h6>
			<ul class="nav flex-column mb-2">
				<li class="nav-item">
					<a class="nav-link" href="#">
						<span data-feather="file-text"></span>
						Current month
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<span data-feather="file-text"></span>
						Last quarter
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<span data-feather="file-text"></span>
						Social engagement
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<span data-feather="file-text"></span>
						Year-end sale
					</a>
				</li>
			</ul>
			--}}
		</div>
	</nav>
</template>