<template name="preview">
	<div class="modal fade" id="taskContentModel" tabindex="-1" role="dialog" aria-labelledby="taskContentModelTitle"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable {{modalSize}}" role="document">
			<div class="modal-content">
				<div class="modal-header d-flex justify-content-between">
					<span>
                        <button type="button" data-target="full" class="size-button btn {{#if size 'full'}}btn-secondary{{else}}btn-outline-secondary{{/if}}">
							<i class="fa fas fa-fw fa-expand"></i>
						</button>
						<button type="button" data-target="xl" class="size-button btn {{#if size 'xl'}}btn-secondary{{else}}btn-outline-secondary{{/if}}">
							<i class="fa fas fa-fw fa-desktop"></i> +
						</button>
						<button type="button" data-target="lg" class="size-button btn {{#if size 'lg'}}btn-secondary{{else}}btn-outline-secondary{{/if}}">
							<i class="fa fas fa-fw fa-desktop"></i>
						</button>
						<button type="button" data-target="default" class="size-button btn {{#if size 'default'}}btn-secondary{{else}}btn-outline-secondary{{/if}}">
							<i class="fa fas fa-fw fa-tablet-alt"></i>
						</button>
						<button type="button" data-target="sm" class="size-button btn {{#if size 'sm'}}btn-secondary{{else}}btn-outline-secondary{{/if}}">
							<i class="fa fas fa-fw fa-mobile-alt"></i>
						</button>
					</span>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{i18n 'actions.close'}}">
						{{> icon name="times"}}
					</button>
				</div>
				<div class="modal-body">
					<h4>
                        {{titleField}}
                    </h4>
                    {{#if unsaved}}
                        <span class="badge badge-pill badge-warning text-light">
                            {{i18n "preview.containsUnsaved"}}
                        </span>
                    {{else}}
                        <span class="badge badge-pill badge-success text-light">
                            {{i18n "preview.noUnsaved"}}
                        </span>
                    {{/if}}
                <hr>
                {{> Template.dynamic template=templateTarget data=templateData}}
				</div>
				<div class="modal-footer d-flex">
                    {{!-- #if unsaved}}
                        <button type="button" class="btn btn-primary">
                            {{i18n 'actions.save'}}
                        </button>
                    {{/if --}}
					<button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">
                        {{i18n 'actions.close'}}
                    </button>
				</div>
			</div>
		</div>
	</div>
</template>